.single-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(231, 181, 181);
  border-radius: 15px;
  margin: 15px;
  width: 100vw;
}
.name-email-role {
  display: flex;
  flex-direction: row;
}
.checkbox-input {
  margin-right: 100px;
}
.ner {
  margin-right: 200px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
.buttons-container {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.edit-button {
  height: 40px;
  width: 50px;
  background-color: transparent;
  margin-right: 10px;
  border: 0px;
}
@media screen and (max-width: 875px) {
  .edit-button {
    height: 25px;
    width: 30px;
  }
}
